# Pré-processamento - Remoção manual de atributos

Fazer algoritmo para remoção manual de atributos e instâncias, após análises e também algoritmo para fazer a conversão simbólico-numérico dos atributos qualitativos ordinais.

In [31]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import roc_auc_score
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [33]:
from sklearn.datasets import load_wine
from sklearn.preprocessing import StandardScaler

In [34]:
df = pd.read_csv("adult.data2.csv")

In [35]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\p90\anaconda3\lib\site-packages (0.17.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (0.14.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (3.0.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (1.16.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (0.20.3)
Requirement already satisfied: setuptools in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (40.8.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\p90\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: cycler>=0.10 in c:\users\p90\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\p90\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\p90\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\p90\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\p90\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six in c:\users\p90\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)

Index(['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education-nume', 'Marital',
       'Occupation', 'Relationship', 'Race', 'Sex', 'Capitalgain',
       'Capitalloss', 'Hoursperweek', 'NativeCountry', 'Result'],
      dtype='object')

# Removento os dados faltantes

In [13]:
df_remove = df.loc[(df['Occupation'] == ' ?')]
df= df.drop(df_remove.index)
df['Workclass'].unique()
df_remove = df.loc[(df['NativeCountry'] == ' ?')]
df= df.drop(df_remove.index)

# Transfomação de quanlitativo em quantitativo

In [14]:
df['Workclass_n'] = df.Workclass.map({' State-gov':1, ' Self-emp-not-inc':2,' Private':3,' Federal-gov':4,
                                      ' Local-gov':5,' Self-emp-inc':6,' Without-pay':7 })

df['Marital_n'] = df.Marital.map({' Never-married':1,' Married-civ-spouse':2,' Divorced':3,' Married-spouse-absent':4,
                                         ' Separated':5,' Married-AF-spouse':6,' Widowed':7 })

df['Occupation_n'] = df.Occupation.map({' Adm-clerical':1,' Exec-managerial':2,' Handlers-cleaners':3,' Prof-specialty':4,
                                         ' Other-service':5,' Sales':6,' Craft-repair':7,' Transport-moving':8,
                                        ' Farming-fishing':9,' Machine-op-inspct':10,' Tech-support':11,' Protective-serv':12,
                                        ' Armed-Forces':13,' Priv-house-serv':14 })

df['Relationship_n'] = df.Relationship.map({' Not-in-family':1,' Husband':2,' Wife':3,' Own-child':4,
                                         ' Unmarried':5,' Other-relative':6 })

df['Sex_n'] = df.Sex.map({' Female':2, ' Male':1})

df['Race_n'] = df.Race.map({' White':1,' Black':2,' Asian-Pac-Islander':3,' Amer-Indian-Eskimo':4,' Other':5 })

df['NativeCountry_n'] = df.NativeCountry.map({' United-States':1,' Cuba':2,' Jamaica':3,' India':4,' Mexico':5,' South':6,
                                        ' Puerto-Rico':7,' Honduras':8,' England':9,' Canada':10,' Germany':11,' Iran':12,
                                        ' Philippines':13,' Italy':14,' Poland':15,' Columbia':16,' Cambodia':17,' Thailand':18,
                                        ' Ecuador':19,' Laos':20,' Taiwan':21,' Haiti':22,' Portugal':23,' Dominican-Republic':24,
                                        ' El-Salvador':25,' France':26,' Guatemala':27,' China':28,' Japan':29,' Yugoslavia':30,
                                        ' Peru':31,' Outlying-US(Guam-USVI-etc)':32,' Scotland':33,' Trinadad&Tobago':34,
                                        ' Greece':35,' Nicaragua':36,' Vietnam':37,' Hong':38,' Ireland':39,' Hungary':40,
                                        ' Holand-Netherlands':41})

df['Result_n'] = df.Result.map({' <=50K':1, ' >50K':2})

# Excluindo atributos

In [15]:
df.drop(['Education','Fnlwgt','Capitalgain','Capitalloss','Sex','Workclass','Relationship','Race',
         'Result','Marital','Occupation','NativeCountry'], axis=1, inplace=True)

In [16]:
df.head(20)

,Age,Education-nume,Hoursperweek,Workclass_n,Marital_n,Occupation_n,Relationship_n,Sex_n,Race_n,NativeCountry_n,Result_n
0,39,13,40,1,1,1,1,1,1,1,1
1,50,13,13,2,2,2,2,1,1,1,1
2,38,9,40,3,3,3,1,1,1,1,1
3,53,7,40,3,2,3,2,1,2,1,1
4,28,13,40,3,2,4,3,2,2,2,1
5,37,14,40,3,2,2,3,2,1,1,1
6,49,5,16,3,4,5,1,2,2,3,1
7,52,9,45,2,2,2,2,1,1,1,2
8,31,14,50,3,1,4,1,2,1,1,2
9,42,13,40,3,2,2,2,1,1,1,2
10,37,10,80,3,2,2,2,1,2,1,2
11,30,13,40,1,2,4,2,1,3,4,2
12,23,13,30,3,1,1,4,2,1,1,1
13,32,12,50,3,1,6,1,1,2,1,1
15,34,4,45,3,2,8,2,1,4,5,1
16,25,9,35,2,1,9,4,1,1,1,1
17,32,9,40,3,1,10,5,1,1,1,1
18,38,7,50,3,2,6,2,1,1,1,1
19,43,14,45,2,3,2,5,2,1,1,2
20,40,16,60,3,2,4,2,1,1,1,2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 11 columns):
Age                30162 non-null int64
Education-nume     30162 non-null int64
Hoursperweek       30162 non-null int64
Workclass_n        30162 non-null int64
Marital_n          30162 non-null int64
Occupation_n       30162 non-null int64
Relationship_n     30162 non-null int64
Sex_n              30162 non-null int64
Race_n             30162 non-null int64
NativeCountry_n    30162 non-null int64
Result_n           30162 non-null int64
dtypes: int64(11)
memory usage: 2.8 MB

In [17]:
df.keys()

Index(['Age', 'Education-nume', 'Hoursperweek', 'Workclass_n', 'Marital_n',
       'Occupation_n', 'Relationship_n', 'Sex_n', 'Race_n', 'NativeCountry_n',
       'Result_n'],
      dtype='object')

In [38]:
X = df
y = df

In [42]:
X.columns = df

X.head()

ValueError: Length mismatch: Expected axis has 15 elements, new values have 32561 elements

# Subtitle
 
    Workclass               Workclass_n                       Occupation                Occupation_n                                                                          
    State-gov               1                                 Adm-clerical              1                             
    Self-emp-not-inc        2                                 Exec-managerial           2
    Private                 3                                 Handlers-cleaners         3
    Federal-gov             4                                 Prof-specialty            4
    Local-gov               5                                 Other-service             5
    Self-emp-inc            6                                 Sales                     6
    Without-pay             7                                 Craft-repair              7
                                                              Transport-moving          8
    Education               Education-nume                    Farming-fishing           9                        
                                                              Machine-op-inspct         10 
    Bachelors               1                                 Tech-support              11
    HS-grad                 2                                 Protective-serv           12
    11th                    3                                 Armed-Forces              13
    Masters                 4                                 Priv-house-serv           14
    9th                     5
    Some-college            6                                 Relationship              Relationship_n
    Assoc-acdm              9
    Assoc-voc               10                                Not-in-family             1                   
    7th-8th                 11                                Husband                   2
    Doctorate               12                                Wife                      3 
    Prof-school             13                                Own-child                 4
    5th-6th                 14                                Unmarried                 5
    10th                    15                                Other-relative            6
    Preschool               16
    12th                    17                                Race                      Race
    1st-4th                 18
                                                              White                     1
    Marital                  Marital_n                        Black                     2
                                                              Asian-Pac-Islander        3
    Never-married            1                                Amer-Indian-Eskimo        4
    Married-civ-spouse       2                                Other                     5
    Divorced'                3
    Married-spouse-absent    4                                Sex                       Sex_n
    Separated                5                                
    Married-AF-spouse        6                                Male                      1
    Widowed                  7                                Female                    2

    
    NativeCountry              NativeCountry_n                Result                    Label
    
    United-States              1                              <=50K                     1
    Cuba                       2                              >50K                      2
    Jamaica                    3
    India                      4
    Mexico                     5
    Puerto-Rico                6
    Honduras                   7 
    England                    8
    Canada                     9
    Germany                    10 
    Iran                       11
    Philippines                12
    Poland                     13 
    Columbia                   14
    Cambodia                   15
    Thailand                   16
    Ecuador                    17
    Laos                       18
    Taiwan                     19
    Haiti                      20
    Portugal                   21
    Dominican-Republic         22
    El-Salvador                23
    France                     24
    Guatemala                  25
    Italy                      26
    China                      27
    South                      28
    Japan                      29
    Yugoslavia                 30  
    Peru                       31
    Outlying-US(Guam-USVI-etc) 32
    Scotland                   33
    Trinadad&Tobago            34  
    Greece                     35
    Nicaragua                  36
    Vietnam                    37
    Hong                       38
    Ireland                    39
    Hungary                    40
    Holand-Netherlands         41